---
import horseback from '@/assets/horseback.png';
import IllinoisLogo from '@/assets/illinoislogo.png';
import CaptionedImage from './CaptionedImage.astro';
import { Image } from 'astro:assets';
---

<div id="about-me">
  <div id="horseback" class="section">
    <CaptionedImage
      src={horseback}
      alt="A very cool guy sitting on a horse statue"
      caption="Me (valiantly) always looking for opportunity"
    />
  </div>
  <div id="about-me-text" class="section">
    <p>
      I'm in my 4th year studying computer science at the University of Illinois
      at Urbana-Champaign. My <a href="#My-Toolbox">skills</a> are most developed
      in the backend, but I have <a href="#Experience">experience</a>
      working with the entire stack, from frontend to infrastructure.
    </p>
  </div>
  <p id="hobbies" class="section">
    When I'm not coding, I like to play basketball, read, and hang out with
    family and friends.
  </p>
  <div id="projects-paragraph" class="section">
    <p>
      I love to learn by doing, so I'm always bringing my ideas to life and
      learning interesting tech in my
      <a href="#Projects">projects</a>
    </p>
  </div>
  <div id="banner" class="section"></div>
  <div id="ILL" class="section">
    <Image src={IllinoisLogo} alt="ILL" loading="eager" />
  </div>
</div>

<style>
  a {
    color: #0897e4;
  }
  a:hover {
    text-decoration: underline;
  }

  #about-me {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    /* border: 1px solid red; */
    gap: 0.25rem;
  }
  .section {
    /* border: 1px solid red; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #banner {
    grid-row: 3 / 7;
    grid-column: 1 / 9;
  }
  #about-me-text {
    grid-row: 1 / 3;
    grid-column: 1 / 9;
  }
  #projects-paragraph {
    grid-row: 7 / 9;
    grid-column: 6 / 12;
    text-align: end;
  }
  #reading-list {
    grid-row: 8 / 13;
    grid-column: 9 / 13;
    overflow: hidden;
  }
  #horseback {
    grid-row: 1 / 7;
    grid-column: 9 / 13;
    animation: bubbleLeft 1.5s ease-in-out 1;
  }
  #ILL {
    grid-row: 7 / 9;
    grid-column: 12 / 13;
    padding: 0.5rem;
  }
  #hobbies {
    grid-row: 11 / 13;
    grid-column: 4 / 9;
  }

  @keyframes bubbleLeft {
    0% {
      transform: scale(0.85);
    }
    40%,
    50% {
      transform: scale(1.05);
      rotate: -5deg;
    }
    80% {
      transform: scale(1.05);
      rotate: -2deg;
    }
    100% {
      transform: scale(1);
    }
  }
</style>
