---
import { Image } from 'astro:assets';
const { src, alt, caption } = Astro.props;
---

<div>
  <Image class="image" src={src} alt={alt} loading="lazy" />
  <p>{caption}</p>
</div>

<style>
  .image {
    border-radius: 1rem;
  }
  p {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.25rem;
  }
</style>
