---
interface SectionProps {
  title: string;
}
const { title } = Astro.props;
const sectionTitle = title.split(' ').join('-');
---

<div class="section">
  <button class="content-toggle section-button">
    <h3 class="section-title">{title}</h3>
  </button>
  <div id={`${sectionTitle}-content`} class="section-content">
    <slot />
  </div>
</div>

<script>
  const buttons = document.querySelectorAll('.content-toggle');
  buttons.forEach((b) =>
    b.addEventListener('click', () =>
      toggleSection(b.textContent!.trim().split(' ').join('-')),
    ),
  );

  function toggleSection(sectionTitle: string) {
    const sectionContent = document.querySelector(`#${sectionTitle}-content`);

    if (sectionContent) {
      sectionContent.classList.toggle('hidden');
    }
  }
</script>

<style>
  .section {
    border: 1px solid red;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    border-radius: 3px;
  }
  .section-button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .section-button:hover h3 {
    color: whitesmoke;
  }
  .hidden {
    display: none;
  }
</style>
