---
interface SectionProps {
  title: string;
}
const { title } = Astro.props;
const sectionTitle = title.split(' ').join('-');
---

<h3 class="section-title">{title}</h3>
<div class="section">
  <div id={`${sectionTitle}-content`} class="section-content hidden">
    <slot />
  </div>
</div>

<script>
  const headings = document.querySelectorAll('.section-title');
  headings.forEach((h) => {
    const sectionTitle = h.textContent!.trim().split(' ').join('-');
    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          toggleSection(sectionTitle);
          observer.unobserve(entry.target);
        }
      });
    });
    observer.observe(h);
  });

  function toggleSection(sectionTitle: string) {
    const sectionContent = document.querySelector(`#${sectionTitle}-content`);

    if (sectionContent) {
      sectionContent.classList.remove('hidden');
    }
  }
</script>

<style>
  .section {
    margin-top: 2rem;
  }
  .section-title {
    margin-top: 1rem;
  }
  .section-content {
    border-radius: 3px;
    padding: 0.5rem 1rem;
    border: 1px solid red;
    margin: 1rem 1.5rem;
    -webkit-transition: all 750ms ease-in;
    -moz-transition: all 750ms ease-in;
    -o-transition: all 750ms ease-in;
    transition: all 750ms ease-in;
  }
  .section-content.hidden {
    margin-left: -30%;
    margin-right: 30%;
    overflow: hidden;
    opacity: 0;
  }
</style>
