---
import type { IconType } from 'react-icons';

interface Props {
  name: string;
  color: string;
  Icon: IconType;
}

const { name, Icon, color } = Astro.props;
---

<div class="skill text-red">
  <Icon />
  <span>{name}</span>
</div>

<style define:vars={{ color }}>
  .skill {
    color: white;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
  }
  .skill svg {
    position: absolute;
    transition: all 0.4s ease;
  }
  .skill:hover svg {
    color: var(--color);
    transform: scale(1.2);
  }
  .skill span {
    margin-left: 1.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: #13151a;
    width: 10%;
  }
  .skill:hover span {
    margin-left: 2rem;
    width: 100%;
    background-color: var(--color);
    transition: all 700ms ease;
    background-image: linear-gradient(to right, var(--color), #13151a);
    background-clip: padding-box;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
</style>
