---
import {
  SiTypescript,
  SiReact,
  SiAstro,
  SiGo,
  SiDocker,
  SiPython,
} from 'react-icons/si';
import { FaJava } from 'react-icons/fa';
import type { IconType } from 'react-icons';

type skill = {
  name: string;
  icon: IconType;
  type: string;
};

const skills: skill[] = [
  { name: 'TypeScript', icon: SiTypescript, type: 'Languages' },
  { name: 'Go', icon: SiGo, type: 'Languages' },
  { name: 'Python', icon: SiPython, type: 'Languages' },
  { name: 'Java', icon: FaJava, type: 'Languages' },
  { name: 'React', icon: SiReact, type: 'Frontend' },
  { name: 'Astro', icon: SiAstro, type: 'Frontend' },
  { name: 'Docker', icon: SiDocker, type: 'Tools' },
];
const groupedSkills = skills.reduce<Record<string, skill[]>>((acc, skill) => {
  acc[skill.type] = acc[skill.type] || [];
  acc[skill.type].push(skill);
  return acc;
}, {});

// TODO: Add more skills
// TODO: Add a div that slides out to show projects corresponding to each skill
//       Activate on hover
---

<div class="skills">
  <h3>Skills</h3>
  <div class="skills-list">
    {
      Object.entries(groupedSkills).map(([type, skills]) => (
        <div class="skill-type">
          <h3>{type}</h3>
          {skills.map((skill) => (
            <div class="skill">
              <skill.icon />
              <span>{skill.name}</span>
            </div>
          ))}
        </div>
      ))
    }
  </div>
</div>

<style>
  .skills {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: end;
    border: 1px solid red;
  }
  .skills-list {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: start;
    margin: 1rem 1.5rem;
  }
  .skill-type h3 {
    margin-bottom: 1rem;
  }
  .skill {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
</style>
