---
import {
  SiTypescript,
  SiReact,
  SiAstro,
  SiGo,
  SiDocker,
  SiPython,
  SiKubernetes,
  SiPostgresql,
  SiNextdotjs,
  SiApachecassandra,
  SiCsharp,
} from 'react-icons/si';
import { DiRedis } from 'react-icons/di';
import { FaJava } from 'react-icons/fa';
import type { IconType } from 'react-icons';

type skill = {
  name: string;
  icon: IconType;
  type: string;
  color: string;
};

const skills: skill[] = [
  { name: 'Go', icon: SiGo, type: 'Languages', color: 'green' },
  { name: 'TypeScript', icon: SiTypescript, type: 'Languages', color: 'blue' },
  { name: 'Java', icon: FaJava, type: 'Languages', color: 'red' },
  { name: 'Python', icon: SiPython, type: 'Languages', color: 'yellow' },
  { name: 'C#', icon: SiCsharp, type: 'Languages', color: 'purple' },
  { name: 'Next.js', icon: SiNextdotjs, type: 'Frontend', color: 'blue' },
  { name: 'React', icon: SiReact, type: 'Frontend', color: 'blue' },
  { name: 'Astro', icon: SiAstro, type: 'Frontend', color: 'blue' },
  { name: 'Postgres', icon: SiPostgresql, type: 'Databases', color: 'blue' },
  { name: 'Redis', icon: DiRedis, type: 'Databases', color: 'red' },
  {
    name: 'Cassandra',
    icon: SiApachecassandra,
    type: 'Databases',
    color: 'red',
  },
  { name: 'Docker', icon: SiDocker, type: 'Deployment', color: 'blue' },
  { name: 'Kubernetes', icon: SiKubernetes, type: 'Deployment', color: 'blue' },
];

const groupedSkills = skills.reduce<Record<string, skill[]>>((acc, skill) => {
  acc[skill.type] = acc[skill.type] || [];
  acc[skill.type].push(skill);
  return acc;
}, {});

// TODO: Add more skills
// TODO: Add a div that slides out to show projects corresponding to each skill
//       Activate on hover
---

<p class="skills-hint">Try clicking on a skill to see how I've used it!</p>
<div class="skills-list">
  {
    Object.entries(groupedSkills).map(([type, skills]) => (
      <div class="skill-type">
        <h3>{type}</h3>
        {skills.map((skill) => (
          <div class="skill">
            <skill.icon />
            <span>{skill.name}</span>
          </div>
        ))}
      </div>
    ))
  }
</div>

<style>
  .skills-hint {
    margin-bottom: 0;
  }
  .skills-list {
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: start;
    padding: 0.5rem 1rem;
  }
  .skill-type h3 {
    margin-bottom: 0.75rem;
    color: whitesmoke;
  }
  .skill {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
</style>
