---
import Skill from '../components/Skill.astro';
import { skills } from '@/common/data';
import type { SkillType } from '@/common/data';

const groupedSkills = skills.reduce<Record<string, SkillType[]>>(
  (acc, skill) => {
    acc[skill.type] = acc[skill.type] || [];
    acc[skill.type].push(skill);
    return acc;
  },
  {}
);
---

<div class="skills-list">
  {
    Object.entries(groupedSkills).map(
      ([type, skills]: [string, SkillType[]]) => (
        <div class="skill-type">
          <h3>{type}</h3>
          {skills.map((skill) => (
            <Skill {...skill} />
          ))}
        </div>
      )
    )
  }
</div>

<style>
  .skills-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    align-items: start;
    padding: 0.25rem 1rem;
  }
  @media (max-width: 800px) {
    .skills-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 600px) {
    .skills-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .skill-type: {
    border: 1px solid red;
  }
  .skill-type h3 {
    margin-bottom: 0.75rem;
    color: whitesmoke;
  }
</style>
