@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Roboto";
  background-color: #003366;
  /* border: 1px solid red; */
}

h1, h3{
	color: white;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #80DAEB;
}
.aboutLinks a:hover {
	color: #80DAEB;
}

.content {
  max-width: 85%;
  margin: 40px auto;
  padding: 20px;
}

.projects {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* width: 90%; */
}

.preview {
  width: 280px;
  height: 280px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
}
.preview-details {
	position: relative;
	width: 100%;
	bottom: 0;
	background-color: lightgray;
	border-radius: 10px;
}

.technologies {
	display: flex;
	justify-content: flex-start; 
	flex-wrap: wrap;
	background-color: white;
}

.technology {
	position: relative;
	bottom: 0;
	background-color: lightblue;
	border-radius: 10px;
	padding: 5px;
	margin: 1px;
}

a {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 5px;
}

.about {
	text-align: center;
}
.aboutBody{
	margin: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 30px;
}
.aboutBody img {
	height: 35px;
}
.aboutLinks {
	margin: 20px;
	background-color: white;
	font-size: 30px;
}
.contactMe {
	margin: 20px;
	background-color: white;
}
.aboutText{
	width: 500px;
	background-color: white;
}
.socialLink {
	display: flex;
	justify-content: center;
	text-align: left;
	background-color: white;
}


@media (max-width: 600px){
	.preview {
		margin-bottom: 40px;
		margin-top: 40px;
	}
}