---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    scrollbar-color: rgb(184, 183, 183) rgb(13, 17, 26);
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    overflow-x: hidden;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  p {
    padding: 0rem;
    margin: 0rem;
    color: rgb(184, 183, 183);
    font-size: large;
  }
  h2,
  h3 {
    font-weight: 500;
    padding: 0rem;
    margin: 0rem;
    color: rgb(184, 183, 183);
    font-size: x-large;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    margin-bottom: 0.1rem;
  }
</style>
